.rpi_item_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 1rem;
    padding: 2rem;
}

.pagelink {
    background: #4ec354;
    border: 2px solid #fff;
    border-radius: 10px;
    box-sizing: initial;
    
    display: inline-block;
    height: 28px;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
    width: 195px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pagelink > *{
    color: #fff;
}

.grid_item_center{
    align-self: center;
    justify-self: center;
}

.reverse{
    order: -1;
}