/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.index_container {
  // max-width: 1440px;
  // padding: 0 20px;
  // margin: 0 auto;
  // width: 100%;

  a {
    text-decoration: none;
  }

  .index_banner {
    .banner_item {
      display: flex;
      padding: 6% 0;

      .banner_item_info {
        flex: 1;
        align-self: center;

        .banner_item_info_title {
          font-size: 38px;
          font-weight: 600;
          line-height: 1.3;
          margin-bottom: 0;
        }

        .green {
          color: #89b929;
        }

        .banner_description {
          margin: 20px 0;
        }
      }

      .banner_item_img {
        flex: 1;

        img {}
      }

      .banner_btn {

        .banner_btn_item {
          color: var(--ifm-heading-color);
          padding: 8px 16px;
          margin-right: 20px;
          background-color: var(--ifm-navbar-background-color);
          border-radius: 50px;
        }

        .green {
          background-color: #8FC31F;
          color: #fff;
        }
      }
    }
  }

  .tech_container {
    margin-top: 3%;
    margin-bottom: 4%;
  }

  .tech_wrapper {
    justify-content: center;

  }


  @media (max-width: 768px) {
    // padding: 20px;

    .index_banner {
      .banner_item {
        flex-direction: column-reverse;

        .banner_btn {
          display: flex;
          flex-wrap: wrap;

          .banner_btn_item {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}




html[data-theme='light'] {


  .index_container {
    background-color: #F3F5F8;

    .index_banner {

      background-color: #fff;

      .banner_btn {

        .banner_btn_item:not(.green) {
          background: #F5F5F5;
        }

        .green {
          background-color: #8FC31F;
          color: #fff;
        }
      }
    }
  }

}