.index_form {
  display: flex;
  margin-bottom: 6%;

  .index_tab {
    flex: 4;
    padding-top: 30px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding-bottom: 20px;

    justify-content: space-between;
  }

  .tab_tip {
    color: #767677;
    padding-left: 49px;
    line-height: 1.3;
  }

  .tab_container {
    font-size: 38px;
    font-weight: 600;

    .tab_item {
      line-height: 1.5;
      margin-bottom: 22px;
      position: relative;
      padding-left: 49px;
      cursor: pointer;

      img {
        width: 32px;
        position: absolute;
        left: 0;
        top: 14px;
      }


    }
  }

  .form_container {
    flex: 6;
    padding: 5%;
    background-color: var(--ifm-navbar-background-color);
    border-radius: 12px;
  }

  .form_wrapper {
    display: flex;
    flex-wrap: wrap;

    .form_item {
      width: calc(50% - 15px);
      margin-bottom: 30px;
      margin-right: 30px;
      position: relative;

      &:nth-child(2n) {
        margin-right: 0;
      }

      span {
        position: absolute;
        bottom: -24px;
        font-size: 12px;
        color: red;
      }

      label {

        font-size: 18px;
      }

      input {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #2F3031;
        opacity: 1;
        border-radius: 10px;
        outline: 0;
        border: 0;
        padding: 0 15px;
        margin-top: 15px;
      }
    }

    button {
      width: 92px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #8FC31F;
      border-radius: 406px 406px 406px 406px;
      border: 0;
      cursor: pointer;
      color: #fff;
    }

  }
}



.latested {
  // margin: 6% 0;

  .latested_header {
    margin-top: 6%;
    margin-bottom: 30px;

    .latested_header_title {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .latested_header_left {
    display: flex;
    justify-content: space-between;
  }

  .arrow {
    display: flex;
  }

  .arrow_btn {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #D5D5D5;
    cursor: pointer;
    background-color: transparent;

    &:disabled {
      border: 1px solid #767677;
      cursor: not-allowed;
    }
  }

  .arrow_left {
    margin-right: 20px;
  }

  .latested_container {}

  .wiki_item {
    margin-right: 24px;
    display: inline-block;
    padding: 20px;
    background-color: var(--ifm-navbar-background-color);
    box-sizing: border-box;
    margin-bottom: 24px;
    border-radius: 12px;
    width: 100%;
    color: var(--ifm-heading-color);

    img {
      border-radius: 12px;
      margin-bottom: 20px;
      height: 200px;
      width: 100%;

    }

    .wiki_name {
      height: 56px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* 显示的行数 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

  }

  @media (max-width: 768px) {
    .wiki_item {
      img {
        height: 100px;
      }
    }
  }
}



.browseBy {
  .latested_header {
    margin-bottom: 30px;

    .latested_header_title {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .latested_header_left {
    display: flex;
    justify-content: space-between;
  }

  .browseBy_box {
    padding: 25px;
    padding-top: 6%;
  }

  .browseBy_header {
    display: flex;
    justify-content: center;

    .browseBy_item {
      width: 140px;
      margin: 0 20px;
      opacity: 0.5;
      cursor: pointer;
      border-radius: 50%;
      background-color: #fff;

      &.active {
        opacity: 1;
      }
    }
  }

  &.dark {
    .browseBy_header {
      .browseBy_item {
        background-color: transparent;
      }
    }
  }

  .browseBy_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    .doc_item {
      width: calc(25% - 15px);
      // flex: 1;
      // flex-basis: 25%;
      background: #2F3031;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 12px;
      padding: 20px;
      color: var(--ifm-heading-color);

      .wiki_name {
        height: 56px;
        margin-top: 18px;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      img {
        border-radius: 12px;
        // margin-bottom: 20px;
        height: 200px;
        width: 100%;

      }
    }

    .doc_item::after {
      content: "";
      flex: 0 0 30px;
    }
  }

  .browseBy_more {
    text-align: center;
    margin: 20px 0;

    a {
      color: rgba(255, 255, 255, 0.8);
      vertical-align: top;

      svg {
        vertical-align: top;
        margin-top: 6px;
      }
    }
  }

  @media (max-width: 768px) {
    .browseBy_box {
      padding: 10px;
      // padding-top: 6%;
    }

    .browseBy_header {

      .browseBy_item {
        margin: 0 10px;

      }
    }

    .browseBy_container {

      .doc_item {
        width: calc(50% - 10px);

        img {
          height: 100px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}



.index_platform {
  // margin: 6% 0 3% 0;

  .platform_header {
    margin-top: 6%;
    font-size: 28px;
    color: #8CC020;
    font-weight: 500;
    line-height: 1.5;
  }

  .platform_header1 {
    max-width: 766px;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .platform_container {
    border-radius: 20PX;
    background-color: var(--ifm-navbar-background-color);
    font-size: 14px;
    padding: 6%;

    .platform_item {
      display: flex;

      .platform_item_info {
        flex: 4;
        align-self: center;
      }

      .platform_item_img {
        flex: 6;
        margin-left: 50px;
      }

      .platform_item_info_title {
        font-size: 36px;
      }

      .platform_item_info_title1 {
        font-size: 24px;
      }

      .platform_btn_item {
        width: 159px;
        height: 38px;
        line-height: 38px;
        border-radius: 90px;
        border: 1px solid #FFFFFF;
        display: inline-block;
        text-align: center;
        margin-right: 22px;
        margin-bottom: 20px;
        color: #fff;

        &:hover {
          border-color: #8CC020;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .platform_container {

      .platform_item {
        display: flex;
        flex-direction: column-reverse;

        .platform_btn {

          display: flex;
          flex-wrap: wrap;

          .platform_btn_item {
            margin-right: 4px;
          }

        }
      }
    }
  }
}


html[data-theme='light'] {


  .index_form {
    .form_wrapper {

      .form_item {
        input {
          background: #F3F5F8;
        }
      }
    }
  }

  .latested {

    .arrow_btn {
      border: 1px solid #181818;

      &:disabled {
        border: 1px solid #A5A6A8;
        color: #A5A6A8;
        cursor: not-allowed;
      }
    }
  }

  .browseBy {
    .browseBy_box {
      background-color: #fff;

      .browseBy_container {}

      .doc_item {
        background-color: #fff;
        border: 1px solid #D7DEE1;
      }

      .browseBy_more {

        a {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .index_platform {
    .platform_container {
      .platform_item {
        .platform_btn_item {
          border: 1px solid #000000;
          color: #000;
        }
      }
    }

  }
}