name: Check Markdown links

on:
    workflow_dispatch:
#   pull_request:
#     branches: [docusaurus-version]
#   push:
#     branches: [docusaurus-version]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
